.mod_newslist {
  .col-24 {
	@include media-breakpoint-up( md ){
	  @include border_bottom;
	  margin-bottom: rem-calc(30px);

	}
  }
  .container {
	padding-top: rem-calc(50px);
	padding-bottom: rem-calc(50px);
	@include media-breakpoint-up( md ) {
	  @include border_left;
	  @include border_right;
	}
  }
}