.rsce_tiflis {
  @include border_bottom;
  .container {
	@include main_container;
  }
  &__title {
	margin-bottom: 0;
	font-family: "Roboto Slab", serif;
	font-size: rem-calc(38px);
	font-weight: 400;
	text-transform: uppercase;
	@include media-breakpoint-up( lg ) {
	  font-size: rem-calc(48px);
	}
  }
}