* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: rem-calc(18px);
  color: $baku;
  box-sizing: border-box;

  a {
    transition-duration: .3s;
    &:hover {
      color: $luxemburg;
      transition-duration: .3s;
    }
  }
  figure {
    margin: 0;
  }

  .title_main {
    @include title_main;
    margin-bottom: rem-calc(30px);
    @include media-breakpoint-up(lg) {
      margin-bottom: rem-calc(50px);
    }
  }
}


