.header {
  &__navigation {
    @include border_bottom;
    .image_container {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: rem-calc(100px);
        @include media-breakpoint-up(lg) {
          width: rem-calc(120px);
        }
        @include media-breakpoint-up(xl) {
          width: rem-calc(140px);
        }
        @include media-breakpoint-up(xxl) {
          width: auto;
        }
      }
    }

    .container {
      @include border_right;
      @include border_left;
      padding-top: rem-calc(10px);
      padding-bottom: rem-calc(10px);

      @include media-breakpoint-up(md) {
        padding-top: rem-calc(20px);
        padding-bottom: rem-calc(20px);
      }
    }

    //MMENU//
    a.mburger {
      transition-duration: .3s;
      &:hover {
        color: $luxemburg;
        transition-duration: .3s;
      }
    }
  }
}